<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Turing machine</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>
<body ng-controller="ctrl">
    <div id="navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <label>write
                    <select class="selectpicker" id="writeOption">
                        <option ng-repeat="writeOption in writeOptions">{{writeOption}}</option>
                    </select>
                </label>
                <label>move
                    <select class="selectpicker" id="moveOption">
                        <option ng-repeat="moveOption in moveOptions">{{moveOption}}</option>
                    </select>
                </label>
                <label>go to Card<input type="text" class="form-control" ng-model="nextCard"></label>
                <label>card number<input type="text" class="form-control" ng-model="cardN"></label>
                <label>add to program<input type="text" class="form-control" ng-model="programN"></label>
                <button type="button" class="btn btn-primary" ng-click="addCard(programN, cardN, 1, 1, nextCard)">add Card to program</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" ng-repeat="program in programs" ng-if="program != null">
                <div class="panel panel-primary">
                    <div class="panel-heading">Program #{{$index}}</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4" ng-repeat="card in program.cards" ng-if="card != null">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Card #{{$index}}</div>
                                    <ul class="list-group">
                                        <li class="list-group-item">write {{card.zero.write}}</li>
                                        <li class="list-group-item">move {{card.zero.move}}</li>
                                        <li class="list-group-item">go to state {{card.zero.nextCard}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="Input">Input</label>
                    <input type="text" class="form-control" id="Input" value="{{tape}}">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" >Run</button>
                    <button id="toggleAuto" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">animate</button>
                </div>
                <div class="form-group">
                    <label for="Output">Output</label>
                    <input type="text" class="form-control" id="Output">
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/Option.js"></script>
    <script src="js/Card.js"></script>
    <script src="js/Program.js"></script>
    <script>
        $("#navbar").load("../shared.html");
    </script>
</body>
</html>