<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Turing machine</title>
    <link rel="shortcut icon" type="image/png" href="resources/onoff.png"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.9.0/css/bootstrap-tour.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.7/angular-strap.tpl.min.js"></script>
</head>
<body ng-controller="ctrl">
    <div id="navbar"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default" id="pnlIntro">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DILF8usqp7M" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Hello and welcome to "make your own turing machine". If you don't know what a turing machine is than this video will
                        give you a quick introduction. If that one didn't do it for you than you can also have a look at
                        <a href="https://www.youtube.com/watch?v=dNRDvLACg5Q">this</a>  one or my own <a href="https://www.youtube.com/watch?v=R8S9iDE3NpM">video</a>.
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" id="btnTour" ng-click="startTour()">take a tour <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success" id="pnlCreateCard">
                    <div class="panel-heading" id="txtCardNumber">
                        <input type="text" class="form-control" ng-model="cardNumber" placeholder="cardNumber" >
                    </div>
                    <div class="container-fluid">
                        <div class="row" id="rowOptions">
                            <div class="col-xs-6">
                                <div class="panel panel-default" id="optionFalse">
                                    <div class="panel-heading">False</div>
                                    <ul class="list-group">
                                        <li class="list-group-item" >
                                            <div id="writeOption0Container">
                                                <label for="writeOption0">write</label>
                                                <select class="selectpicker" data-width="100%" id="writeOption0">
                                                    <option ng-repeat="writeOption in writeOptions">{{writeOption}}</option>
                                                </select>
                                            </div>

                                        </li>
                                        <li class="list-group-item" >
                                            <div id="moveOption0Container">
                                                <label for="moveOption0">move</label>
                                                <select class="selectpicker" data-width="100%" id="moveOption0">
                                                    <option data-icon="{{moveOption.icon}}" ng-repeat="moveOption in moveOptions">{{moveOption.value}}</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <input id="nextCard1" type="text" class="form-control" ng-model="nextCard0" placeholder="nextCard">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default" id="optionTrue">
                                    <div class="panel-heading">True</div>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <label for="writeOption1">write</label>
                                            <select class="selectpicker" data-width="100%" id="writeOption1">
                                                <option ng-repeat="writeOption in writeOptions">{{writeOption}}</option>
                                            </select>
                                        </li>
                                        <li class="list-group-item">
                                            <label for="moveOption1">move</label>
                                            <select class="selectpicker" data-width="100%" id="moveOption1">
                                                <option data-icon="{{moveOption.icon}}" ng-repeat="moveOption in moveOptions">{{moveOption.value}}</option>
                                            </select>
                                        </li>
                                        <li class="list-group-item">
                                            <input type="text" class="form-control" ng-model="nextCard1" placeholder="nextCard">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--add new Card button-->
                <!--<div class="input-group" id="btnAddCard">-->
                    <!--<input type="text" class="form-control col-xs-6" ng-model="programNumber" placeholder="programNumber">-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-success"  ng-click="addCard()">add Card to program</button>-->
                    <!--</span>-->
                <!--</div>-->
                <button id="btnAddCard" type="button" class="btn btn-success btn-block"  ng-click="addCard()">override or add<span class="glyphicon glyphicon-arrow-down blue"></span></button>
            </div>
        </div>
        <div class="row" id="programContainer">
            <div class="col-xs-12" ng-repeat="program in system.programs track by $index" ng-if="program != null">
                <div class="panel panel-primary">
                    <div class="panel-heading">Program<!--<button type="button" class="btn btn-danger btn-xs pull-right">delete</button>--></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="card in program.cards track by $index" ng-if="card != null && card != program.cards[0]">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Card {{$index}}
                                        <button type="button"  class="btnDebug btn btn-danger btn-xs pull-right" ng-model="card.isBreakpoint" bs-checkbox>break</button>
                                        <button ng-if="$index != 1" type="button" class="btn btn-danger btn-xs" ng-click="deleteCard($index)">delete</button>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="panel panel-default">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">{{card.zero.write}}</li>
                                                        <li class="list-group-item">{{card.zero.move}}</li>
                                                        <li class="list-group-item">{{card.zero.nextCard}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="panel panel-default">
                                                    <ul class="list-group">
                                                        <li class="list-group-item">{{card.one.write}}</li>
                                                        <li class="list-group-item">{{card.one.move}}</li>
                                                        <li class="list-group-item">{{card.one.nextCard}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5" id="bridge">
                <div class="row">
                    <!--<label for="Input">Input</label>-->
                    <div class="col-xs-9"><label for="Input">Input</label><input type="text" class="form-control" id="Input" ng-model="tape"></div>
                    <div class="col-xs-3"><label for="Input">StartPos</label><input type="text" class="form-control" id="txtStartPosition" ng-model="startPosition"></div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="programOrder">programs to execute</label>-->
                    <!--<input type="text" class="form-control" id="programOrder">-->
                <!--</div>-->
                <div class="row">
                    <div class="col-xs-5">
                        <div class="btn-group" id="runGroup">
                            <button type="button" class="btn btn-primary"  ng-click="run()">Run</button>
                            <button type="button" class="btn btn-primary"  ng-click="autoRun()">Animate</button>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <!--ng-if="system.currentProgram.halted"-->
                        <div class="btn-group" id="stepGroup" >
                            <button type="button" class="btn btn-primary" id="btnStep" ng-click="step()">Step</button>
                            <button id="toggleAuto" type="button" class="btn btn-primary" ng-model="animating" bs-checkbox>Auto</button>
                            <button type="button" class="btn btn-default" ng-click="cont()" id="btnContinue">Cont</button>
                            <!--<button id="btnReset" type="button" class="btn btn-default" ng-click="reset()">Reset</button>-->
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-danger" id="btnDebugMode" ng-model="debugMode.on" bs-checkbox>Debug</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <ul class="pagination" id="output">
                                <li ng-class="{active:$index == system.currentProgram.position}" ng-repeat="cell in system.currentProgram.tape track by $index" ><span class="page-link">{{cell}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3" >
                <div class="panel panel-primary" id="activeCard">
                    <div class="panel-heading">
                        <span ng-if="system.currentProgram.cards.indexOf(system.currentProgram.currentCard) != -1">Active Card {{system.currentProgram.cards.indexOf(system.currentProgram.currentCard)}}</span>
                        <span ng-if="system.currentProgram.cards.indexOf(system.currentProgram.currentCard) == -1">Card does not exist</span>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <ul class="list-group">
                                        <li class="list-group-item">{{system.currentProgram.currentCard.zero.write}}</li>
                                        <li class="list-group-item">{{system.currentProgram.currentCard.zero.move}}</li>
                                        <li class="list-group-item">{{system.currentProgram.currentCard.zero.nextCard}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="panel panel-default">
                                    <ul class="list-group">
                                        <li class="list-group-item">{{system.currentProgram.currentCard.one.write}}</li>
                                        <li class="list-group-item">{{system.currentProgram.currentCard.one.move}}</li>
                                        <li class="list-group-item">{{system.currentProgram.currentCard.one.nextCard}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4" >
                <div class="panel panel-primary" id="challenges">
                    <div class="panel-heading">Challenges <img src="resources/medalBlack.png"></div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="challenge in challenges track by $index">
                            <div class="row">
                                <div class="col-xs-9">
                                    <span>{{challenge.description}}</span>
                                    <img ng-if="challenge.completed" src="resources/medalGold.png">
                                </div>
                                <div class="col-xs-3">
                                    <button ng-click="runChallenge($index)" type="button" class="btn btn-primary btn-xs pull-right">run</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.3/js/bootstrap-tour.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script src="js/Challenge.js"></script>
    <script src="js/Option.js"></script>
    <script src="js/Card.js"></script>
    <script src="js/Program.js"></script>
    <script src="js/System.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/controller.js"></script>
    <script>
        $("#navbar").load("../shared.html");
    </script>
</body>
</html>